@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.text-gold-hover:hover {
  @apply text-yellow-200 duration-100 transition-all;
}

.noisyBg {
  @apply bg-[url("/images/noise.png")];
}
#home .rightSide p {
  @apply text-lg;
}

video {
  @apply w-full md:h-[80%] h-1/2 absolute bottom-0 left-0 md:object-contain object-bottom object-cover;
}
