@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.text-gold-hover:hover {
  @apply text-yellow-200 duration-100 transition-all;
}

.noisyBg {
  @apply bg-[url("/images/noise.png")];
}
#home .rightSide p {
  @apply text-lg;
}

video {
  @apply w-full md:h-[80%] h-1/2 absolute bottom-0 left-0 md:object-contain object-bottom object-cover;
}

@utility radial-gradient {
  background: radial-gradient(
    circle at center,
    #434343 0%,
    #000 50%,
    transparent 100%
  );
}
@utility masked-img {
  mask-image: url("/images/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}

.cocktail-img {
  @apply md:w-[60vw] w-full h-[50vh] md:h-[70vh] rounded-4xl overflow-hidden absolute top-0 md:top-[65%] md:-translate-y-1/2 left-1/2 -translate-x-1/2;
}
